<h2>Education</h2>

<% data.education.each do |exp| %>
  <% exp.each do |name, info| %>
    <div class="product card-grey product-flex">
      <div class="product-logo hidden-xs">
        <% link_to info["url"], target: :_blank do %>
        <%= image_tag info["logo"], class: "logo-size-small" %>
        <% end %>
      </div>

      <div class="product-detail">
        <h4><%= info["title"] %></h4>
        <p><em><%= info["subtitle"] %></em></p>
        <ul>
          <% info["diplomas"].each_value do |content|%>
            <li> <%= content %> </li>
          <% end %>
        </ul>
      </div>

      <div class="product-date">
        <p><%= info["date"] %></p>
      </div>
    </div>
  <% end %>
<% end %>
