<h2>Skills</h2>

<% counterJs = 1 %>
<% counter = 1 %>

<div class="flex-center-row-start">
  <% data.skills.each do |skill| %>
    <% count = 1 %>
    <% skill.each do |name, info| %>
      <div class= "text-center">
        <canvas id= "<%= name %>" height="130" width="130"></canvas>
        <% content_for(:after_js) do %>
          <script>
            var options = {
              percentageInnerCutout: 80
            };
            var doughnutData = [
                {
                  value: <%= info["chart_number"].to_i %>,
                  color: "#1AA59A"
                },
                {
                  value : <%= (100 - info["chart_number"].to_i) %>,
                  color : "#FBFBFB"
                }
              ];

            var myDoughnut = new Chart(document.getElementById("<%= name %>").getContext("2d")).Doughnut(doughnutData, options);
          </script>
        <% end %>

        <h5><%= info["title"] %></h5>

        <% info["bullets"].each_value do |content| %>
          <div><%= content %></div>
        <% end %>

        <div class = "btn-green btn-size-small margined" id="skill-detail-<%= counter %>">View more </div>


        <div class = "hidden" id="skill-to-hide-<%= counter %>">
          <% info["numbers"].each_value do |number| %>
            <%= info["bullets"]["b#{count}"] %>
            <div>
              <% number.times do %>
                <i class = "fa fa-circle"></i>
              <% end %>
              <% (6 - number).times do %>
                <i class="fa fa-circle-thin"></i>
              <% end %>
              <% count += 1 %>
            </div>
          <% end %>
        </div>


        <% content_for(:after_js) do %>
          <script>
            $(document).ready(function() {
              $(function(){
                $("#skill-detail-"+<%= counterJs %>).on("click", function(e){
                  $("#skill-to-hide-"+<%= counterJs %>).toggleClass("hidden");
                });
              });
            });
          </script>
        <% counterJs += 1 %>
        <% end %>
        <% counter += 1 %>
      </div>

    <% end %>
  <% end %>
</div>
