<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper" class="">
    <div class="sidebar-nav">
      <%= partial "partials/sidebar" %>
    </div>
  </div>


  <!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
<!--   <div class="visible-xs-*">
    <div class="">
      <%#= partial "partials/navbar" %>
    </div>
  </div> -->

  <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" id="menu-toggle">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

  <div id="page-content-wrapper">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="card tab-content" id="about">
            <h1>Hello, I am Camille Franceschi</h1>
            <h2>A bit about me</h2>
            <p> 3 years of M&A background, a first experience in a start-up as Operations Manager, freshly graduated from Le Wagon Bootcamp and a current part-time job as Teacher Assistant also at le Wagon bootcamp.</p>
            <p> Hard worker, enthusiastic to learn new things every day, I am looking for a new challenge as <span class="label label-success">junior Web Developer</span>. Interested in learning React.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="experiences">
            <%= partial "partials/experiences" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id ="education">
            <%= partial "partials/education" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="skills">
            <%= partial "partials/skills" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="side-projects">
            <%= partial "partials/side-projects" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="activities">
            <%= partial "partials/activities" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
