<!-- <div class="banner" style="background-image: linear-gradient(-199deg, rgba(146,157,144,0.6) 3%, rgba(0,35,23,0) 24%), url('images/surfer.jpg');"> -->
  <div id="sidebar">
    <div class="text-center" id="sidebar-head">
      <div class="center-inside-column">
        <%= image_tag "avatar-camille.png", class: "avatar avatar-medium avatar-border-white margined-top" %>
        <h4><b>Camille Franceschi</b>
        <br><br>
        <ul class="list-inline">
          <li>
            <a href="mailto:franceschi.camille@gmail.com">
              <i class="fa fa-envelope fa" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/CamilleFranceschi">
              <i class="fa fa-github fa" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/camille-franceschi-64499940">
              <i class="fa fa-linkedin fa" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        </h4>
      </div>
    </div>

    <div class="wrapper height-all" id="sidebar-body">
      <div class="tabs-column padded-light" >

        <a class="tab-column padded-light-left active" data-target="#about">
          <h5>About</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#experiences">
          <h5>Experiences</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#education">
          <h5>Education</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#skills">
          <h5>Skills</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#side-projects">
          <h5>Side projects</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#activities">
          <h5>Activities</h5>
        </a>
      </div>
    </div>
  </div>

  <div id="page-content" class="toggled">
    <div class="wrapper center-inside-full-page">
      <div class="container">
        <a href="#" id="menu" class="lefted">
          <i class="fa fa-bars"></i>
        </a>

        <div class="rows">
          <div class="col-md-offset-1 col-md-10">
            <div class="card tab-content" id="about">
              <h1>Hello, I am Camille Franceschi</h1>
              <h2>A bit about me</h2>
              <p> Learned mathematics first to do finance, lost in financial jobs lacking a little bit of technics for my taste, I decided to stop and to do Le Wagon bootcamp to learn to code.</p>
              <p> Hard worker, enthusiastic to learn new things every day I am looking for a <span class="label label-success">job as Developer</span>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id="experiences">
              <h2>Experiences</h2>

              <% data.experiences.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["content"]["subtitle"] %></em></p>
                      <ul>
                      <% info["content"]["bullets"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>

                      <p><b>Key learning points: </b>
                        <% info["learning_points"].each_value do |content|%>
                          <span class="label label-success"> <%= content %> </span>
                        <% end %>
                      </p>
                    </div>
                    <div class="product-date">
                      <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id ="education">
              <h2>Education</h2>
              <% data.educations.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["subtitle"] %></em></p>
                      <ul>
                      <% info["diplomas"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>
                    </div>
                    <div class="product-date">
                    <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id="skills">
              <h2>Skills</h2>
              <!-- <div class="product card-grey product-flex"> -->
              <div class="center-inside-row-start">
                <% data.skills.each do |skill| %>
                  <% skill.each do |name, info| %>
                    <div class= "text-center">
                      <canvas id= "<%= name %>" height="130" width="130"></canvas>
                      <h5><%= info["title"] %></h5>

                      <% info["bullets"].each_value do |content| %>
                        <div>
                          <%= content %>
                        </div>
                      <% end %>

                      <div class = "btn-green btn-size-small margined-top skill-detail">
                        View more
                      </div>

                      <% count = 1 %>

                      <div class="hidden skill-to-hide">
                        <% info["numbers"].each_value do |number| %>
                          <%= info["bullets"]["b#{count}"] %>
                          <div>
                           <% number.times do %>
                            <i class = "fa fa-circle"></i>
                            <% end %>
                            <% (6 - number).times do %>
                              <i class="fa fa-circle-thin"></i>
                            <% end %>
                            <% count += 1 %>
                          </div>
                        <% end %>
                      </div>


                    </div>
                    <script>
                      var options = {
                        percentageInnerCutout: 80
                      };
                      var doughnutData = [
                          {
                            value: 70,
                            color: "#1AA59A"
                          },
                          {
                            value : 30,
                            color : "#FBFBFB"
                          }
                        ];

                        var myDoughnut = new Chart(document.getElementById("<%= name %>").getContext("2d")).Doughnut(doughnutData, options);
                    </script>
                  <% end %>
                <% end %>
              <!-- </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="side-projects">
              <h2>Side Projects</h2>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/logo_bookshare_blue.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/logo_easycat.png" alt="">
                      <a href="" class="card-link"></a>
                      </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/Foodelice-logo-grey.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="activities">
              <h2>Activities</h2>
              <p>Master 104 Association
              President of the association of the master Finance 104
              2012 - 2013
              Organisation of conferences with professionals
              Organisation of a skiing trop (28 participants)
              Cheer Up! Federation
              National association to fight against cancer
              2010 - 2012
              Communication team member
              Logistics team member for training weekends (250 participants)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
