<!-- <div class="banner" style="background-image: linear-gradient(-199deg, rgba(146,157,144,0.6) 3%, rgba(0,35,23,0) 24%), url('images/surfer.jpg');"> -->
  <div id="sidebar">
    <div class="text-center" id="sidebar-head">
      <div class="center-inside">
        <%= image_tag "avatar-camille.png", class: "avatar avatar-medium avatar-border-white margined-top" %>
        <h4><b>Camille Franceschi</b>
        <br><br>
        <ul class="list-inline">
          <li>
            <i class="fa fa-envelope fa" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-github fa" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-linkedin fa" aria-hidden="true"></i>
          </li>
        </ul>
        </h4>
      </div>
    </div>

    <div class="wrapper height-all" id="sidebar-body">
      <div class="tabs-column padded-light" >

        <a class="tab-column padded-light-left active" data-target="#about">
          <h5>About</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#experiences">
          <h5>Experiences</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#education">
          <h5>Education</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#skills">
          <h5>Skills</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#side-projects">
          <h5>Side projects</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#activities">
          <h5>Activities</h5>
        </a>
      </div>
    </div>

  </div>

  <div id="page-content" class="toggled">
    <div class="wrapper center-inside-full-page">
      <div class="container">
        <a href="#" id="menu" class="lefted">
          <i class="fa fa-bars"></i>
        </a>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="card tab-content" id="about">
              <h1>Hello, I am Camille Franceschi</h1>
              <h2>A bit about me</h2>
              <p> Learned mathematics first to do finance, lost in financial jobs lacking a little bit of technics for my taste, I decided to stop and to do Le Wagon bootcamp to learn to code.</p>
              <p> Hard worker, enthusiastic to learn new things every day I am looking for a <span class="label label-success">job as Developer</span>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id="experiences">
              <h2>Experiences</h2>

              <% data.experiences.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["content"]["subtitle"] %></em></p>
                      <ul>
                      <% info["content"]["bullets"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>

                      <p><b>Key learning points: </b>
                        <% info["learning_points"].each_value do |content|%>
                          <span class="label label-success"> <%= content %> </span>
                        <% end %>
                      </p>
                    </div>
                    <div class="product-date">
                      <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id ="education">
              <h2>Education</h2>
              <% data.educations.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["subtitle"] %></em></p>
                      <ul>
                      <% info["diplomas"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>
                    </div>
                    <div class="product-date">
                    <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="skills">
              <h2>Skills</h2>


              <canvas id="business" height="130" width="130"></canvas>

              <h5>Business</h5>

              <p>Market & business analysis
              <br>Financial analysis
              <br>Financial modelisation</p>

              <div class="box">

                <div class="button">View more</div>

                <div class="content">

                  <div class="skills-details">
                    <p>R/Matlab/Java</p>
                    <div class="align-dots">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                    </div>
                  </div>

                  <div class="skills-details">
                    <p>VBA</p>
                    <div class="align-dots">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                    </div>
                  </div>

                  <div class="skills-details">
                    <p>HTML/CSS</p>
                    <div class="align-dots">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                      <i class="fa fa-circle-thin"></i>
                    </div>
                  </div>

                  <div class="skills-details">
                    <p>Javascript/jQuery</p>
                    <div class="align-dots">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-thin"></i>
                    </div>
                  </div>

                  <div class="skills-details">
                    <p>Ruby/Ruby on Rails</p>
                    <div class="align-dots">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-thin"></i>
                    </div>
                  </div>
                </div>

              </div>

              <script>
                var options = {
                  percentageInnerCutout: 80
                };
                var doughnutData = [
                    {
                      value: 70,
                      color:"#297CBB"
                    },
                    {
                      value : 30,
                      color : "#e4e4e4"
                    }
                  ];

                  var myDoughnut = new Chart(document.getElementById("business").getContext("2d")).Doughnut(doughnutData, options);
              </script>

              <p>Business
              Market & business analysis
              Financial analysis
              Financial modelisation
              View more
              Programming
              R/Matlab/Java
              VBA
              HTML/CSS
              Javascript/jQuery
              Ruby/Ruby on Rails
              View more
              Design
              Sketch</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="side-projects">
              <h2>Side Projects</h2>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside margined-bottom margin-l-r-auto">
                      <img src="images/logo_bookshare_blue.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside margined-bottom margin-l-r-auto">
                      <img src="images/logo_easycat.png" alt="">
                      <a href="" class="card-link"></a>
                      </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4">
                    <div class="card card-white center-inside margined-bottom margin-l-r-auto">
                      <img src="images/Foodelice-logo-grey.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="activities">
              <h2>Activities</h2>
              <p>Master 104 Association
              President of the association of the master Finance 104
              2012 - 2013
              Organisation of conferences with professionals
              Organisation of a skiing trop (28 participants)
              Cheer Up! Federation
              National association to fight against cancer
              2010 - 2012
              Communication team member
              Logistics team member for training weekends (250 participants)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
