<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <div class="sidebar-nav">
      <%= partial "partials/sidebar" %>
    </div>
  </div>

  <div class="navbar-resume">
    <div class="dropdown">
      <h3 class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" ></i></h3>
      <div class="dropdown-menu dropdown-menu-left navbar-resume-dropdown-menu">
        <div><a class="tab-column" data-target="#about">About</a></div>
        <div><a class="tab-column" data-target="#experiences">Experiences</a></div>
        <div><a class="tab-column" data-target="#education">Education</a></div>
        <div><a class="tab-column" data-target="#skills">Skills</a></div>
        <div><a class="tab-column" data-target="#side-projects">Side projects</a></div>
        <div><a class="tab-column" data-target="#activities">Activities</a></div>
      </div>
    </div>

    <div class="navbar-resume-right">
      <a href="mailto:franceschi.camille@gmail.com">
        <h4><i class="fa fa-envelope fa" aria-hidden="true"></i></h4>
      </a>

      <a href="https://github.com/CamilleFranceschi">
        <h4><i class="fa fa-github fa" aria-hidden="true"></i></h4>
      </a>

      <a href="https://www.linkedin.com/in/camille-franceschi">
        <h4><i class="fa fa-linkedin fa" aria-hidden="true"></i></h4>
      </a>
      <%= image_tag "avatar-camille.png", class: "avatar avatar-small avatar-border-white-md" %>
    </div>
  </div>

  <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" id="menu-toggle">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

  <div id="page-content-wrapper">

    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="card tab-content" id="about">
            <h1>Hello, I am Camille Franceschi</h1>
            <h2>A bit about me</h2>
            <p> 3 years of M&A background, a first experience in a start-up as Operations Manager, freshly graduated from Le Wagon Bootcamp and a current part-time job as Teacher Assistant also at le Wagon bootcamp.</p>
            <p> Hard worker, enthusiastic to learn new things every day, I am looking for a new challenge as <span class="label label-success">junior Web Developer</span>. Interested in learning React.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="experiences">
            <%= partial "partials/experiences" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id ="education">
            <%= partial "partials/education" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="skills">
            <%= partial "partials/skills" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="side-projects">
            <%= partial "partials/side-projects" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="tab-content hidden" id="activities">
            <%= partial "partials/activities" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
