<!-- <div class="banner" style="background-image: linear-gradient(-199deg, rgba(146,157,144,0.6) 3%, rgba(0,35,23,0) 24%), url('images/surfer.jpg');"> -->
  <div id="sidebar">
    <div class="text-center" id="sidebar-head">
      <div class="center-inside-column">
        <%= image_tag "avatar-camille.png", class: "avatar avatar-medium avatar-border-white margined-top" %>
        <h4><b>Camille Franceschi</b>
        <br><br>
        <ul class="list-inline">
          <li>
            <a href="mailto:franceschi.camille@gmail.com">
              <i class="fa fa-envelope fa" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/CamilleFranceschi">
              <i class="fa fa-github fa" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/camille-franceschi-64499940">
              <i class="fa fa-linkedin fa" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        </h4>
      </div>
    </div>

    <div class="wrapper height-all" id="sidebar-body">
      <div class="tabs-column padded-light" >

        <a class="tab-column padded-light-left active" data-target="#about">
          <h5>About</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#experiences">
          <h5>Experiences</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#education">
          <h5>Education</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#skills">
          <h5>Skills</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#side-projects">
          <h5>Side projects</h5>
        </a>
        <a class="tab-column padded-light-left" data-target="#activities">
          <h5>Activities</h5>
        </a>
      </div>
    </div>
  </div>

  <div id="page-content" class="toggled">
    <div class="wrapper center-inside-full-page">
      <div class="container">
        <a href="#" id="menu" class="lefted">
          <i class="fa fa-bars"></i>
        </a>

        <div class="rows">
          <div class="col-md-offset-1 col-md-10">
            <div class="card tab-content" id="about">
              <h1>Hello, I am Camille Franceschi</h1>
              <h2>A bit about me</h2>
              <p> 3 years of M&A background, a first esperience in a start-up as Operations Manager and freshly graduated from Le Wagon bootcamp.</p>
              <p> Hard worker, enthusiastic to learn new things every day I am looking for a <span class="label label-success">job as Web Developer</span>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id="experiences">
              <h2>Experiences</h2>

              <% data.experiences.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["content"]["subtitle"] %></em></p>
                      <ul>
                      <% info["content"]["bullets"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>

                      <p><b>Key learning points: </b>
                        <% info["learning_points"].each_value do |content|%>
                          <span class="label label-success"> <%= content %> </span>
                        <% end %>
                      </p>
                    </div>
                    <div class="product-date">
                      <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id ="education">
              <h2>Education</h2>
              <% data.educations.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["subtitle"] %></em></p>
                      <ul>
                      <% info["diplomas"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>
                    </div>
                    <div class="product-date">
                    <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content hidden" id="skills">
              <h2>Skills</h2>
              <!-- <div class="product card-grey product-flex"> -->
              <div class="center-inside-row-start">
                  <% counter = 1 %>
                <% data.skills.each do |skill| %>
                  <% skill.each do |name, info| %>
                    <div class= "text-center">
                      <canvas id= "<%= name %>" height="130" width="130"></canvas>
                      <h5><%= info["title"] %></h5>

                      <% info["bullets"].each_value do |content| %>
                        <div>
                          <%= content %>
                        </div>
                      <% end %>

                      <div class = "btn-green btn-size-small margined-top skill-detail-<%= counter %>">
                        View more
                      </div>
                      <% counter += 1 %>

                      <% count = 1 %>

                      <div class="hidden skill-to-hide-<%= counter %>">
                        <% info["numbers"].each_value do |number| %>
                          <%= info["bullets"]["b#{count}"] %>
                          <div>
                           <% number.times do %>
                            <i class = "fa fa-circle"></i>
                            <% end %>
                            <% (6 - number).times do %>
                              <i class="fa fa-circle-thin"></i>
                            <% end %>
                            <% count += 1 %>
                          </div>
                        <% end %>
                      </div>

                      <div id="player"></div>

                    </div>

                    <% content_for(:after_js) do %>
                      <script>
                        $(function(){
                          $(".skill-detail-"+ <%= counter %>).on("click", function(e){
                            // Change active tab
                            console.log(".skill-detail-"+ <%= counter %>);
                            $(".skill-to-hide-"+ <%= counter %>).toggleClass('hidden');
                          });
                        });
                      </script>
                    <% end %>

                    <script>
                      var options = {
                        percentageInnerCutout: 80
                      };
                      var doughnutData = [
                          {
                            value: 70,
                            color: "#1AA59A"
                          },
                          {
                            value : 30,
                            color : "#FBFBFB"
                          }
                        ];

                        var myDoughnut = new Chart(document.getElementById("<%= name %>").getContext("2d")).Doughnut(doughnutData, options);
                    </script>

                    <script>
                      // 2. This code loads the IFrame Player API code asynchronously.
                      var tag = document.createElement('script');
                      tag.src = "https://www.youtube.com/iframe_api";
                      var firstScriptTag = document.getElementsByTagName('script')[0];
                      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                      // var currentVideoId = null;

                      // 3. This function creates an <iframe> (and YouTube player)
                      //    after the API code downloads.
                      var player;
                      function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                          height: '360',
                          width: '640',
                          videoId: '',
                          events: {
                            // 'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                          }
                        });
                      }

                      // 4. The API will call this function when the video player is ready.
                      // function onPlayerReady(event) {
                      //   event.target.playVideo();
                      // }


                      // 5. The API calls this function when the player's state changes.
                      //    The function indicates that when playing a video (state=1),
                      //    the player should play for six seconds and then stop.
                      var done = false;
                      function onPlayerStateChange(event) {
                        if (event.data == YT.PlayerState.PLAYING && !done) {
                          setTimeout(stopVideo, 6000);
                          done = true;
                        }
                      }
                      function stopVideo() {
                        player.stopVideo();
                      }
                      // 6. This function searches for videos related to the keyword 'dogs'.
                      //    The video IDs and titles of the search results are logged to Apps Script's log.

                      function searchByKeyword() {
                        var results = YouTube.Search.list('id,snippet', {q: 'dogs', maxResults: 1});
                        console.log(results)
                      }

                      $(".test").click(function(event){
                        var q_attribute = event.target.getAttribute('q');
                        var q_encoded = encodeURIComponent(q_attribute);
                        var key = "AIzaSyAdF0b05v_zbxg2otFoNJfCfmjVu3jNEw0";
                        // Call Youtube API
                        var http_request = "https://www.googleapis.com/youtube/v3/search?part=snippet&q="+q_encoded+"&key="+key+"";
                        $.ajax({
                            type: "GET",
                            url: http_request,
                            dataType: "json",
                            success: function(data) {
                                var videoId = data.items[0].id.videoId;
                                //  To Dynamically change Youtube Player videoID
                                player.loadVideoById(videoId);
                            },
                            error: function(result) {
                                alert("Error");
                            }
                        });
                      });
                    </script>

                  <% end %>
                <% end %>
              <!-- </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="side-projects">
              <h2>Side Projects</h2>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/logo_bookshare_blue.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4 ">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/logo_easycat.png" alt="">
                      <a href="" class="card-link"></a>
                      </div>
                    <!-- insert <div class="card"> -->
                  </div>
                  <div class="col-xs-12 col-lg-4">
                    <div class="card card-white center-inside-column margined-bottom margin-l-r-auto">
                      <img src="images/Foodelice-logo-grey.png" alt="">
                      <a href="" class="card-link"></a>
                    </div>
                    <!-- insert <div class="card"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10 ">
            <div class="tab-content hidden" id="activities">
              <h2>Activities</h2>

              <% data.activities.each do |exp| %>
                <% exp.each do |name, info| %>
                  <div class="product card-grey product-flex">
                    <div class="product-logo">
                      <a href="https://www.lewagon.com/">
                      <%= image_tag info["logo"], class: "logo-size-small" %>
                      </a>
                    </div>
                    <div class="product-detail padded-light-left">
                      <h4><%= info["title"] %></h4>
                      <p><em><%= info["subtitle"] %></em></p>
                      <ul>
                      <% info["content"]["bullets"].each_value do |content|%>
                        <li> <%= content %> </li>
                      <% end %>
                      </ul>

                    </div>
                    <div class="product-date">
                      <p><%= info["date"] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
